.dashboard {
    padding: 50px;
    height: 100%;
    overflow-y: auto;
    .data {

        .allDashboard {

            .revenues {
                margin-top: 20px;
            }
        }
    }

}